*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  
}
/* navigation bar */
#logo-nav{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #fff;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
.nav-links{
  display: flex;
  list-style: none;
}
.nav-links li{
  padding-left: 3rem;
}
.nav-links a{
  text-decoration: none;
  color: #333;
  padding-left: 2px;
  padding-right: 40px;
  font-family: 'Roboto', sans-serif !important;
}
.logo img{
  width: 200px;
  margin: 20px;
}

.nav-links a:hover{
  background: lightpink;
  transition: 0.5s;
  color: #ffff;
  padding: 20px;
}
/* END OF NAVIGATION BAR */

/* SECTION ONE STARTS */

#section-1{
  min-height: 90vh;
  background-color: white;
}

.container{
  display: flex;
}

.title{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.title h1{
  font-size: 50px;
  width: 75%;
  font-family: 'Roboto', sans-serif !important;
  padding: 60px 0 30px 110px;
  margin-top: 100px;
  font-weight: bold;
}
.title p{
  padding: 5px 40px 30px 130px;
  width: 75%;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  font-family: 'Roboto', sans-serif !important;
}
.btnBooking2  {
  background-color: lightpink;
  width: 90px;
   height: 50px;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Roboto', sans-serif !important;
  display: flex;
  flex-wrap: wrap;
  margin-top: 160px;
  margin-left: -400px;
  border: none;
  border-radius: 10px;
 align-items: center;
 justify-content: center;
 text-decoration: none;
  color: black;
}


.btnBooking2:hover{
  background-color: #000;
  color:white;
  transition: 0.3s ease-in;
}
.btnBooking2 a:hover{
  color:white;
  background-color: #000;
}

.section-img{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.section-img img{
  height: 474px;
  width: 350px;
  margin-top: 150px;
  margin-right:120px;
  border-radius: 40px;

}
/* SECTION ONE ENDS */

/* SECTION TWO STARTS */

#section-2{
  background-color: lightpink;
  min-height: 100vh;

}
.title-2 h1{
  color: #ffff;
 padding: 100px 0 60px 0;
 font-size: 50px;
 text-align: center;
 font-family: 'Roboto', sans-serif;
 font-weight: bold;
}

.container-2 {
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
}

.serviceOne{
  padding: 20px 20px 90px 20px;
  width: 360px;
}
.serviceOne img{
  height: 400px;
  width: 320px;
  border-radius: 10px;
}
.serviceOne h1{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
}
.serviceOne p{
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-family: fantasy;
  font-family: 'Roboto', sans-serif !important;
}
.serviceTwo{
 
  padding: 20px 20px 90px 20px;
  width: 360px;
}
.serviceTwo img{
  height: 400px;
  width: 320px;
  border-radius: 10px;
}

.serviceTwo h1{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
}
.serviceTwo p{
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
}
.serviceThree{
  
  padding: 20px 20px 90px 20px;
  width: 360px;
}
.serviceThree img{
  height: 400px;
  width: 320px;
  border-radius: 10px;
}
.serviceThree h1{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
}

.serviceThree p{
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif !important;
}
/* SECTION TWO ENDS */

/* SECTION THREE STARTS */

#section-3{
  background-color:  #fffafa;
  min-height: 100vh;
}
.title-3 h1{
color: lightpink;
 padding: 100px 0 60px 0;
 font-size: 50px;
 text-align: center;
 font-family: 'Roboto', sans-serif !important;
 font-weight: bold;
}

.container-3{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.portfolioImg img{
  height: 400px;
  width: 320px;
  padding: 20px;
  border-radius: 10px;
}

#myImg  {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

#myImgOne {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImgOne:hover {
  opacity: 0.7;
}

#myImgTwo {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#myImgTwo:hover {opacity: 0.7;}

#myImgThree {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#myImgThree:hover {opacity: 0.7;}

#myImgFour {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#myImgFour:hover {opacity: 0.7;}

#myImgFive {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#myImgFive:hover {
  opacity: 0.7;
 
}

#myImgSix {
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#myImgSix:hover {opacity: 0.7;}
.modal{
 
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 340px;
}
/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* SECTION FOUR STARTS */
#section-4{
  background-color: #333;
  min-height: 100vh;
}
.title-4 h1{
  color: #FFFF;
 padding: 100px 0 60px 0;
 font-size: 50px;
 text-align: center;
 font-family: 'Roboto', sans-serif !important;
 font-weight: bold;
}

.logoSection img{
  width: 700px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.btnBooking{
  width: 100px;
  height: 50px;
  font-family: 'Roboto', sans-serif !important;
  font-size: 15px;
  background-color: lightpink;
  border-radius: 10px;
  border: none;
  text-align: center;
  position: absolute;
  right: 600px;
  cursor: pointer;
}
.btnBooking:hover{
  background-color: #FFFF;
  color: black;
  transition: 0.3s ease-in;
}
/* SECTION FOUR ENDS */

/* FOOTER */
#myFooter{
  background-color: lightpink;
  height: 70px;
  margin: 0;
}
#myFooter p{
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
}

/* SECTION FOUR ENDS */


/*BOOKING FORM */
.logoSection-1 img{
  width: 700px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
 
}
.logoApp{
  margin-bottom: 50px;
}
.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
  font-family: 'Roboto', sans-serif !important;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  font-family: 'Roboto', sans-serif !important;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background:lightpink;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: lightpink;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid lightpink;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: lightpink;
}
#about{
  padding-top: 20px;
}
.radioGroup label{
  display: inline-block;
  margin: 0 0.2em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.radioGroup label input[type="radio"]{
  margin: 0.5em auto;
}
#serviceQuestion{
  padding-top: 20px;
}
#btnForm{
  margin-top: 50px;
  padding-top: 20px;
  cursor: pointer;
}
/*BOOKING FORM ENDS */



/* MEDIA QUERIES */
/* 100% Image Width on Smaller Screens */
@media only screen

  and (min-device-width: 375px)

  and (max-device-width: 812px)

  and (-webkit-min-device-pixel-ratio: 3) {
    .modal-content {
      width: 100%;
    }
    #section-1{
      min-height: 100vh;
      background-color: white;
      margin-bottom: 100px;
    }
    
    #logo-nav{
      height: 140px;
    }
    nav{
      flex-direction: column;
      min-height: 10vh;
    }
    .nav-links li{
      padding: 1px;
    
    }
    
    .container{
      display: flex;
      flex-direction: column;
    }
    
    .title{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
    }
    .title h1{
      width: 400px;
      text-align: center;
      font-size: 40px;
      margin-top: 140px;
    }
    .title p{
      padding:  20px 20px 90px 20px;;
      width: 100%;
      font-family: 'Roboto', sans-serif !important;
    }
  
    .section-img img{
      flex: 1;
      height: 300px;
      width: 230px;
      border-radius: 10px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .btnBooking2{
      display:none;
       margin-left: 170px;
       width: 80px;
       height: 40px;
       cursor: pointer;
       font-size: 12px;
       font-family: 'Roboto', sans-serif !important;
     }
    
  
    #section-2{
      min-height: 100vh;
    
    }
    .title-2 h1{
     padding: 50px 0 30px 0;
     font-size: 35px;
     
    }
    
    .container-2 {
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: space-around;
    }
    
    .serviceOne{
      padding: 20px;
      width: 260px;
    }
    .serviceOne img{
      height: 300px;
      width: 230px;
    }
    
    .serviceTwo{
      padding: 20px;
      width: 260px;
    }
    .serviceTwo img{
      height: 300px;
      width: 230px;
    }
    
    .serviceThree{
      padding: 20px;
      width: 260px;
    }
    .serviceThree img{
      height: 300px;
      width: 230px;
    }
    #section-3{
      background-color:  #fffafa;
      min-height: 100vh;
    }
    .title-3 h1{
      padding: 50px 0 30px 0;
      font-size: 35px;
    }
    
    .container-3{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
    }
    .title-4 h1{
      padding: 50px 0 30px 0;
     font-size: 35px;
    }
    
    .logoSection img{
      height: 110px;
      display: block;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
    
    .btnBooking{
      left: 48%;
      width: 80px;
      height: 40px;
      font-size: 12px;
      font-weight: bold;
      
    }
    .btnBooking:hover{
      background-color: #FFFF;
      color: black;
      transition: 0.3s ease-in;
    }
  
    .logoSection-1 img{
      width: 700px;
      height: 200px;
      display: block;
      width: 50%;
      margin-top: 100px;
    }
    .logoSection-1 img{
      height: 110px;
      display: block;
      margin-top: 160px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
     
    }

    .nav-links a{
      cursor: pointer;
      padding: 5px;
    }
    .title-4 h1{
      padding: 50px 0 30px 0;
     font-size: 30px;
    }
    .btnBooking{
      position: absolute;
      left: 36%;
      width: 80px;
      height: 40px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif !important;
    }
    
    #myFooter{
      background-color: lightpink;
      min-height: 10vh;
      margin: 0;
      padding: 5px;
    }
    #myFooter p{
      font-size: 13px;
    }
    
    #section-4{
      background-color: #333;
      min-height: 60vh;
    }

}

@media only screen

  and (max-width: 764px) {
   
    .modal-content {
      width: 100%;
    }
    #section-1{
      min-height: 60vh;
      background-color: white;
      margin-bottom: 100px;
    }
    
    #logo-nav{
      height: 140px;
   
    }
    nav{
      flex-direction: column;
      min-height:10vh;
    
    }
    .nav-links li{
      padding: 1px;
    }
    .nav-links a{
      cursor: pointer;
      padding: 12px;
    
    }
    .container{
      display: flex;
      flex-direction: column;
    }
    
    .title{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
    }
    .title h1{
      margin-left: -56px;
      width: 100%;
      text-align: center;
      font-size: 40px;
      margin-top: 140px;
      margin-bottom: 10px;
    }
    .title p{
      padding: 20px 40px 90px 40px;
      width: 100%;
      font-family: 'Roboto', sans-serif !important;
    }
  
    .section-img img{
      height: 300px;
      width: 230px;
      border-radius: 10px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .btnBooking2 {
      display: none;
       margin-left: 170px;
       width: 80px;
       height: 40px;
       cursor: pointer;
       font-size: 12px;
       font-family: 'Roboto', sans-serif !important;
     }
     
  
    #section-2{
      min-height: 100vh;
    
    }
    .title-2 h1{
     padding: 50px 0 30px 0;
     font-size: 35px;
     
    }
    
    .container-2 {
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      justify-content: space-around;
    }
    
    .serviceOne{
      padding: 20px;
      width: 260px;
    }
    .serviceOne img{
      height: 300px;
      width: 230px;
    }
    
    .serviceTwo{
      padding: 20px;
      width: 260px;
    }
    .serviceTwo img{
      height: 300px;
      width: 230px;
    }
    
    .serviceThree{
      padding: 20px;
      width: 260px;
    }
    .serviceThree img{
      height: 300px;
      width: 230px;
    }
    #section-3{
      background-color:  #fffafa;
      min-height: 100vh;
    }
    .title-3 h1{
      padding: 50px 0 30px 0;
      font-size: 35px;
    }
    
    .container-3{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
    }
    #section-4{
      background-color: #333;
      min-height: 80vh;
    }
    .title-4 h1{
      padding: 50px 0 30px 0;
     font-size: 35px;
    }
    
    .logoSection img{
      height: 110px;
      display: block;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
    
    .btnBooking{
      left: 48%;
      width: 80px;
      height: 40px;
      font-size: 12px;
      font-weight: bold;
      
    }
    .btnBooking:hover{
      background-color: #FFFF;
      color: black;
      transition: 0.3s ease-in;
    }
  
    .logoSection-1 img{
      width: 700px;
      height: 200px;
      display: block;
      width: 50%;
      margin-top: 100px;
    }
    .logoSection-1 img{
      height: 110px;
      display: block;
      margin-top: 160px;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
     
    }

    .nav-links a{
      cursor: pointer;
      padding: 5px;
    }
    .title-4 h1{
      padding: 50px 0 30px 0;
     font-size: 30px;
    }
    .btnBooking{
      position: absolute;
      left: 36%;
      width: 80px;
      height: 40px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif !important;
    }
    .btnBooking2 {
      
     margin-left: 170px;
      width: 80px;
      height: 40px;
      cursor: pointer;
      font-size: 12px;
      font-family: 'Roboto', sans-serif !important;
    }
    
    #myFooter{
      background-color: lightpink;
      min-height: 10vh;
      margin: 0;
      padding: 5px;
    }
    #myFooter p{
      font-size: 13px;
    }
    .btnBooking{
      left: 38%;
      width: 80px;
      height: 40px;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      font-family: 'Roboto', sans-serif !important;
    }
    #section-4{
      background-color: #333;
      min-height: 60vh;
    }
    #btnForm{
      margin-top: 50px;
      padding-top: 20px;
      cursor: pointer;
    }

  }
